.card-container {
    position: relative;
    min-height: 10rem;
}
.card-content {
    visibility: visible;
    opacity: 1;
    
    &.fadeout {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 600ms, opacity 600ms fade-in-out;
    }
    .loading-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        background: $white;
        img {
            opacity: .5;
        }
        visibility: visible;
        opacity: 1;
        &.loaded {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s 600ms, opacity 600ms fade-in-out;
        }
    }
}

.accordion-toggle {cursor: pointer;}
.accordion-content {display: none;}
.accordion-content.default {display: block;}