// Temp
.d .site-header:after {
  position: fixed;
  bottom: .5rem;
  left: .5rem;
  z-index: 100;
  color: $white;
  background: $secondary-color;
  border-radius: 100px;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  @include breakpoint(small only) {
    content: "S";
  }
  @include breakpoint(medium only) {
    content: "M"; 
  }
  @include breakpoint(large only) {
    content: "L";
  }
  @include breakpoint(xlarge only) {
    content: "XL";
  }
  @include breakpoint(xxlarge only) {
    content: "XXL";
  }
}

/* Requirements - full height parent wrappes */
html, body {
  height: 100%;
}



@include breakpoint(medium up) {
  .site-content {
    padding-top: 2rem;
  }
	.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 1 */
  }
  .site-header,
  .site-footer {
    flex-shrink: 0; /* 2 */
  }
  .site-content {
    flex: 1 0 auto; /* 2 */
    width: 100%;
  }
}