#backtoblog {
  display: none;
}

#nav {
	text-align: center;
}

.login {
	background: url("../../images/login_bg.jpg");
	background-size: cover;
	h1 a {
		background: url('../../images/logo.svg') no-repeat 50% 50%;
		background-size: 200px;
		width: 200px;
	}

	// Form Input
	label {

	}
	input[type="text"] {

	}
	input[type="password"] {

	}

	// Button
	.button-primary {
		&:hover {

		}
		&:active {

		}
	}
}